.sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: #6677B3;
  color: white;
  padding: 20px;
}

.sidebar-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 50px;
  text-align: center;
  cursor: pointer;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul > li {
  margin: 10px 0;
}

.sidebar-nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 8px;
  gap: 15px;
  transition: all 0.3s ease;
}

.sidebar-nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.sidebar-nav a.active {
  background-color: white;
  color: #6677B3;
  font-weight: bold;
  border: 2px solid #6677B3;
}

.sidebar-nav ul ul {
  margin-left: 15px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}

.sidebar-nav ul ul li {
  margin: 5px 0;
}

.sidebar-nav .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-nav .menu-item .menu-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
