<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${departmentName} 부서 직원 목록</title>
</head>
<body>
<h1>${departmentName} 부서 직원 목록</h1>

<table>
    <thead>
    <tr>
        <th>직원 ID</th>
        <th>이름</th>
        <th>부서</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.employeeId}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.departmentName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>